@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body{
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

button{
    font-size: 16px;
    font-weight: 800;
    background-color: #3882F6;
    border: #3882F6;
    color: #F9FAF8;
}

/* top box */
.top-container{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    box-sizing: border-box;
    padding: 0 150px 70px 150px; /* N E S W */

    flex-direction: column;
}

.header{
    display: flex;
    margin: 20px 0 20px 0;
}

.yuh{
    font-size: 28px;
    font-weight: 800;
    margin-right: auto;
}

.toplinks{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    font-weight: 800;
}

/* stuff under links luh */

.abovetext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
}

.titlenstuff{
    flex-direction: column;
}

.title{
    font-size: 48px;
    font-weight: 900;
}

.titlesubtext{
    font-size: 18px;
    color: #E5E7EB;
    margin: 20px 0px 20px 0px;
}

img.theotherhalf{
    width: 20px;
    height: auto;
}

/* copy n paste button lol */
.button {
    border-radius: 4px;
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* 2nd page */

.undertopcontainer{
    color: #1F2937;
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 70px 150px 140px 150px;
}

.randostuff{
    font-size: 36px;
    font-weight: 1000;
    margin-bottom: 40px;
    display: flex;
}

.the4blocks{
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    gap: 48px;
    flex-wrap: wrap;
}

.block1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.thebox img{
    display: flex;
    width: 240px;
    height: 240px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.blocktext{
    margin-top: 30px;
    font-weight: 500;
    font-size: 24px;
}

/* 3rd page */

.underundertopcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 70px 250px 70px 250px;
}

.bigtext{
    font-weight: 300;
    font-size: 36px;
}

.smalltext{
    margin-left: auto;
}


.smalltext1{
    font-weight: 900;    
    font-size: 24px;
    
}

/* 4th page */

.underunderundertopcontainer{
    color: #F9FAF8;
    background-color: #F9FAF8;
    padding: 70px 250px 70px 250px;
}

.thecontainer{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 15px;
    height: 150px;
    min-width: 650px;
    width: auto;
    padding: 40px;
    overflow: hidden;
}

.textcontainer{
    display: flex;
    flex-direction: column;
}

.textabove{
    font-weight: 900;
    font-size: 36px;
}

.undertext{
    font-size: 24px;
}

/* copy n paste again */
.bottombutton {
    border-radius: 8px;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .bottombutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .bottombutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .bottombutton:hover span {
    padding-right: 25px;
  }
  
  .bottombutton:hover span:after {
    opacity: 1;
    right: 0;
  }

/* footer */

.bottomcontainer{
    padding: 30px 70px 30px 70px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
}